{% extends "layout/base.twig" %}

{% block content %}

    {% block product %}
        {% for product in products %}
           {% if (product.id == post.id ) %} 
                <img src="{{ Image(product.product_image) }}" class="product-image">
                
                <h1>{{product.product_title}}</h1>
                <p>{{ product.product_excerpt }}</p>
                <p>{{ product.product_info }}</p>
                 {% for ingredient in post.meta('product_ingredients') %}
                    <li>{{ ingredient.ingredient }}</li>
                {% endfor %}
                <p>{{ product.product_size }}</p> 
                <p>{{ product.product_origin }}</p>

            {% endif %} 
        {% endfor %}

    {% endblock %}

    {% block recipe %}
    
        {% for recipe in recipes %}
           {% if (recipe.id == post.id ) %} 
                <h1 class="recipe-single-title">{{recipe.recipe_title}}</h1>
                <div class="container">
                    <div class="row">
                        
                        <div class="image-wrapper col-lg-6 order-sm-12 ">
                            <img src="{{ Image(recipe.recipe_image) }}" class="single-recipe-image">
                            <img src="{{ Image(recipe.recipe_product_image) }}" class="recipe-product-image">

                        </div>
                        
                            

                        <div class="col-lg-6 order-sm-1">
                            

                            <div class="recipe-time-portion">
                                <p class="recipe-single-time">{{ recipe.recipe_time }}</p>
                                <p class="recipe-single-portions">{{ recipe.recipe_portions }} Portions</p>
                            </div>

                            {% for section in post.get_field('flexible_single') %}
                            
                                <h2 class="step-title"> {{ section.single_title}} </h2>

                                <div class="step-ingredients-wrapper">
                                    {% for ingredients in section.single_repeater %}
                                        <p class="step-ingredient">{{ ingredients.ingredient }}</p>
                                    {% endfor %}
                                </div>

                                <p class="step-instructions"> {{section.single_instructions}} </p>

                            {% endfor %}
            
                            <p class="recipe-serve">{{ recipe.recipe_serve }}</p>

                        </div>

                        
                    </div>
                </div>


                
            {% endif %} 
        {% endfor %}

    


    {% endblock %}

{% endblock %} 

{% block slider %}
{% endblock %}
{% block products %}
{% endblock %}
{% block recipes %}
{% endblock %}
{% block about %}
{% endblock %}


