<!doctype html>

<html {{ site.language_attributes }}>
	<head>
		<meta charset="{{ site.charset }}" />

		<meta name="description" content="{{ site.description }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://kit.fontawesome.com/8db1dae12f.js" crossorigin="anonymous"></script>


		
		<link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="author" href="{{ site.theme.link }}/humans.txt" />
		<link rel="pingback" href="{{ site.pingback_url }}" />

        {{ idkomm_add_GTM()|raw }}
        {{ idkomm_add_GTM_noscript()|raw }}

		{{ function('wp_head') }}

		{% block head %}
		{% endblock %}

	</head>

	<body class="{{body_class}}" data-template="base.twig">

        {% block header %}
			<header id="site-header" class="full-width">
                {% include 'layout/header.twig' %}
			</header>
        {% endblock %}

		<section id="site-content" role="main" class="content-wrapper">

			{% block content %}
				
			{% endblock %}

			{% block slider %}
				{% include 'layout/slider.twig'%}
        	{% endblock %}
	
			{% block recipes %}
				{% include 'layout/recipe.twig' %}
			{% endblock %}

			{% block products %}
				{% include 'layout/products.twig' %}
			{% endblock %}	
					
			{% block about %}
				{% include 'layout/about.twig' %}
			{% endblock %}		
		</section>

		{% block footer %}
			<footer id="site-footer" class="full-width">
				{% include 'layout/footer.twig' %}
			</footer>

			{{ function('wp_footer') }}
		{% endblock %}
	</body>

</html>
