{% block products %}

<div class="product-block">
    <h2 class="product-headline">Products</h2>
        <div class="row">
                
            {% for post in products %}
               
                {# {% for product in post.meta('product_ingredients') %}
                    <p>{{ product.ingredient }}</p>
                {% endfor %} #}
                <div class="col-lg-4 col-md-6 col-sm-12 product-content">
                    <a href="{{ post.link }}">
                        {% if (post.product_image) %}
                            <img src="{{ Image(post.product_image) }}" class="product-image">
                        {% endif %}
                        <h1 class="product-title">{{ post.product_title }}</h1>
                        <p class="product-body">{{ post.product_excerpt }}</p>
                    </a>
                </div>
            {% endfor %}                     

        

        </div>
</div>
{% endblock %}